.active{
    background-color: #4e63da;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 7px;
    border-radius: 20px;

}
.navb-log{
    width: 50%;
}
.column{
    width: 49%;
}
/*
.video-home{
    width: 49%;
    height: 300px;
}
*/


.video-home{
    width: 49%;
}